@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-Regular.eot');
    src: url('/fonts/averta/Averta-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/averta/Averta-Regular.woff2') format('woff2'), url('/fonts/averta/Averta-Regular.woff') format('woff'), url('/fonts/averta/Averta-Regular.svg#Averta-Regular') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Light';
    src: url('/fonts/averta/Averta-Light.eot');
    src: url('/fonts/averta/Averta-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/averta/Averta-Light.woff2') format('woff2'), url('/fonts/averta/Averta-Light.woff') format('woff'), url('/fonts/averta/Averta-Light.svg#Averta-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Bold';
    src: url('/fonts/averta/Averta-Bold.eot');
    src: url('/fonts/averta/Averta-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/averta/Averta-Bold.woff2') format('woff2'), url('/fonts/averta/Averta-Bold.woff') format('woff'), url('/fonts/averta/Averta-Bold.svg#Averta-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta Semibold';
    src: url('/fonts/averta/Averta-Semibold.eot');
    src: url('/fonts/averta/Averta-Semibold.eot?#iefix') format('embedded-opentype'), url('/fonts/averta/Averta-Semibold.woff2') format('woff2'), url('/fonts/averta/Averta-Semibold.woff') format('woff'), url('/fonts/averta/Averta-Semibold.svg#Averta-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}