@import 'fonts';
body {
    font-family: 'Averta', sans-serif;
}

img {
    max-width: 100%;
}

@import 'menu';
.font-semibold {
    font-family: 'Averta Semibold', sans-serif;
}

// #breadcrumbs {
//     background-color: #e9ecef;
// }
// .alert.header-message {
//     border-radius: 0 !important;
// }