@import 'variables';
.home-banner-slider {
    position: relative;
    &.slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    .slick--item {
        height: 82vh;
    }
    .slick-desc {
        width: 100%;
        * {
            color: $white;
        }
        .title {
            font-size: 9em !important;
            line-height: 1;
        }
        .sub-title {
            color: rgb(255, 179, 179);
        }
        .desc {
            font-size: 1.2em;
        }
        .btn-lg {
            padding: 0.6rem 2.3rem;
            line-height: 1;
            height: 40px;
            span {
                line-height: 1;
                font-size: 0.9rem;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
    .slick-dots {
        bottom: 6em;
        li {
            button {
                border-color: transparent;
                box-shadow: 0 0 0 2px rgb(255 255 255 / 0%);
                -webkit-transition: box-shadow 0.3s ease;
                transition: box-shadow 0.3s ease;
                background: transparent;
                -webkit-transition: box-shadow 0.3s ease;
                transition: box-shadow 0.3s ease;
                &:before {
                    top: 1px;
                    font-size: 8px;
                    color: #ffffff;
                    -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
                    transition: background-color 0.3s ease, transform 0.3s ease;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    outline: none;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0);
                    background-color: rgba(255, 255, 255, 0.3);
                    text-indent: -999em;
                    cursor: pointer;
                    position: absolute;
                }
            }
            &.slick-active {
                button {
                    box-shadow: 0 0 0 2px rgb(255 255 255 / 0%);
                    -webkit-transition: box-shadow 0.3s ease;
                    transition: box-shadow 0.3s ease;
                    background: transparent;
                    border: 2px solid #fff;
                    &:before {
                        transform: scale(0.4);
                        -webkit-transform: scale(0.4);
                        background-color: rgba(255, 255, 255, 1);
                    }
                }
            }
        }
    }
}

.height-50 {
    height: 50vh;
    @media (max-width: 767px) {
        height: 100%;
    }
}

.floating-box {
    position: absolute;
    top: -4em;
    background-image: linear-gradient(to right, #803250 0%, #540447 100%);
    padding: 3em;
    border-radius: 10px;
    width: 100%;
    left: 0;
    * {
        color: white;
    }
    .open-hours {
        border-bottom: 1px solid #ccc;
        padding: 1em 0;
    }
    @media (max-width:767px) {
        position: relative;
    }
}

.card-doctors {
    .imagebg {
        height: 50vh;
    }
    .card-body-desc {
        padding: 2em 1em;
        background: $white;
        box-shadow: 0 0 20px rgba(150, 150, 150, 0.4);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        h4 {
            color: $primary;
        }
    }
}

a {
    color: initial;
    &:hover {
        text-decoration: none;
    }
}